//- module
-
  if(!libLoader) {
    libLoader = {
      js: {url: {}},
      css: {url: {}},
      root: function(r) { libLoader._r = r; },
      _r: "/assets/lib",
      _v: "",
      version: function(v) { libLoader._v = (v ? "?v=" + v : ""); }
    }
    if(version) { libLoader.version(version); }
  }

mixin script(os,cfg)
  -
    var str = '', urls = [];
    if(!Array.isArray(os)) { os = [os]; }
  each o in os
    -
      c = o;
      if(typeof(o) == "string") { url = o; c = cfg || {};}
      else if(o.url) { url = o.url; }
      else { url = libLoader._r + "/" + o.name + "/" + (o.version || 'main') + "/" + (o.path || "index.min.js"); }
    if !libLoader.js.url[url]
      - libLoader.js.url[url] = true;
      - defer = (typeof(c.defer) == "undefined" ? true : !!c.defer);
      if /^https?:\/\/./.exec(url)
        script(type="text/javascript",src=url, defer=defer, async=!!c.async)
      else if cfg && cfg.pack
        -
          str = str + ';' + url;
          urls.push(url);
      else
        script(type="text/javascript",src=url + libLoader._v, defer=defer, async=!!c.async)
  if cfg && cfg.pack
    -
      var name = md5(str);
      var filename = "/js/pack/" + name + "." + (typeof(cfg.min) == "undefined" || cfg.min ? "min" : "") + ".js";
      hashfile({type: "js", name: name, files: urls, src: locals.filename});
    script(type="text/javascript",src=filename + libLoader._v)

mixin css(os,cfg)
  -
    var str = '', urls = [];
    if(!Array.isArray(os)) { os = [os]; }
  each o in os
    -
      c = o;
      if(typeof(o) == "string") { url = o; c = cfg || {};}
      else if(o.url) { url = o.url; }
      else { url = libLoader._r + "/" + o.name + "/" + (o.version || 'main') + "/" + (o.path || "index.min.css"); }
    if !libLoader.css.url[url]
      - libLoader.css.url[url] = true;
      if /^https?:\/\/./.exec(url)
        link(rel="stylesheet",type="text/css",href=url)
      else if cfg && cfg.pack
        -
          str = str + ';' + url;
          urls.push(url);
      else
        link(rel="stylesheet",type="text/css",href=url + libLoader._v)
  if cfg && cfg.pack
    -
      var name = md5(str);
      var filename = "/css/pack/" + name + "." + (typeof(cfg.min) == "undefined" || cfg.min ? "min" : "") + ".css";
      hashfile({type: "css", name: name, files: urls, src: locals.filename});
    link(rel="stylesheet",type="text/css",href=filename + libLoader._v)
